* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body
{
    font-family:"montserrat";
    width: 100%;
    background-color: rgb(188, 255, 230);
    position: absolute;
}


#navbar
{
    top: 0;
    height: 5rem;
    
    background-color: rgb(50, 47, 47);
    width: 100%;
}

.heading h1{
    color: rgb(255, 255, 255);
    margin-left:10%;
    font-size: 65px;


}

.nav-logo
{
    float: left;
}


.nav-logo a img
{
    margin-top: 7px;
    margin-left: 1rem;
    width: 8rem;
    height: 4rem; 
   
}



h1 {
 color: blue ;
 font-size: 60px;
  }

  .testbox {
      margin-left: 33%;
      margin-top: 7%;
      width: 40%;
      text-align: center;
      background-color: beige;
      margin-bottom: 20px;

  }

  .btn-block{
      margin-bottom: 20px;
  }

  .card{
      margin-top: 2%;
  }

  .upper-block
  {
      position: fixed;
  }